{% extends 'base.html.twig' %}

{% block content %}

    <style>
        .header{
            text-align: center;
            font-size: 50px;
        }
        .connexion{
            margin-left: 200px;
            margin-bottom: 20px;
            padding: 20px;
        }
        .boutons{
            margin-left: 40px;
            padding: 10px 40px
        }
    </style>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    Connexion
                </div>
                <div class="body">
                    <form class="form-horizontal" action="{{ path('security_login') }}" method="post">
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label for="email_address_2">Adresse Email</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                    <input placeholder="Adresse email ..." type="text" required name="_username" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label for="password_2">Mot de Passe</label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                    <input placeholder="Mot de Passe ..." type="password" required name="_password" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success connexion"> Connexion </button>
                        </div>
                    </form>
                    <div class="button boutons" >
                        <a href="/login">
                            <button class="btn bg-indigo waves-effect boutons"> Connexion via MyCentraleAsso </button>
                        </a>
                    </div>
                    <div class="button boutons">
                        <a href="/inscription">
                            <button class="btn btn-success waves-effect boutons"> Inscription </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}