{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <h1> Inscription aux Formations </h1>

    {{ form_start(form) }}

    <button type="submit" class="btn btn-success"> Inscription </button>

    {{ form_end(form) }}

{% endblock %}