{% extends 'base.html.twig' %}

{% block content %}
    <h1> Inscriptions aux Formations </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success"> Inscription </button>

    {{ form_end(form) }}
{% endblock %}