/* assets/styles/app.css */
body {
    background-color: lightgray;
}

.content {
    margin-left: 200px; /*Histoire qu'il y ait un peu d'espace mais vous pouvez régler comme vous voulez*/
}

#app-notifs{
    display: none;
}

