/* assets/styles/app.css */

.body {
    background-color: lightgray;
}

.content {
    margin-left: 20px; /*Histoire qu'il y ait un peu d'espace mais vous pouvez régler comme vous voulez*/
}

#app-notifs{
    display: none;
}

.header{
    text-align: center;
    font-size: 50px;
}
.btn{
    margin-left: 200px;
    font-size: 200px;
}
