/* assets/styles/app.css */

.body {
    background-color: lightgray;
}

.body-form{
    background-color: white;
}

.content {
    margin-left: 10px; /*Histoire qu'il y ait un peu d'espace mais vous pouvez régler comme vous voulez*/
}

.header{
    text-align: center;
    font-size: 50px;
}

.connexion{
    margin-left: 200px;
    margin-bottom: 20px;
    padding: 20px;
}

.boutons{
    margin-left: 75px;
    padding: 10px 40px
}


#app-notifs{
    display: none;
}

